[submodule "two-way-gridview"]
	path = two-way-gridview
	url = git@github.com:egslava/two-way-gridview.git
[submodule "pinned-section-listview"]
	path = pinned-section-listview
	url = git@github.com:egslava/pinned-section-listview.git
